<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-ML/blob/main/AA_2_02_ColumnTransformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1:
Categorical Variables

In [41]:
import pandas as pd
df = pd.DataFrame({'salary': [103, 89, 142, 54, 63, 219],
                   'boro': ['Manhattan', 'Queens', 'Manhattan', 'Brooklyn', 'Brooklyn', 'Bronx']})
df

   salary       boro
0     103  Manhattan
1      89     Queens
2     142  Manhattan
3      54   Brooklyn
4      63   Brooklyn
5     219      Bronx

In [42]:
pd.get_dummies(df)

   salary  boro_Bronx  boro_Brooklyn  boro_Manhattan  boro_Queens
0     103           0              0               1            0
1      89           0              0               0            1
2     142           0              0               1            0
3      54           0              1               0            0
4      63           0              1               0            0
5     219           1              0               0            0

In [43]:
X_train1 = pd.get_dummies(df)
X_train1

   salary  boro_Bronx  boro_Brooklyn  boro_Manhattan  boro_Queens
0     103           0              0               1            0
1      89           0              0               0            1
2     142           0              0               1            0
3      54           0              1               0            0
4      63           0              1               0            0
5     219           1              0               0            0

In [52]:
df2 = pd.DataFrame({'Gender': ['m','f','m','m','f'],
                    'AgeGroup': ['<18','18-25','25-35','35-45','45-65']})

In [53]:
df2

  Gender AgeGroup
0      m      <18
1      f    18-25
2      m    25-35
3      m    35-45
4      f    45-65

In [59]:
X_train1 = pd.get_dummies(df2)
X_train1

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_45-65,AgeGroup_<18
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,0,1,0,0
4,1,0,0,0,0,1,0

In [55]:
df2new = pd.DataFrame({'Gender': ['m','f','m','m','f'],
                    'AgeGroup': ['<18','18-25','25-35','35-45','65+']})

In [60]:
X_test1 = pd.get_dummies(df2new)
X_test1

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_65+,AgeGroup_<18
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,0,1,0,0
4,1,0,0,0,0,1,0

In [61]:
X_test2 = X_test1.reindex(columns = X_train1.columns, fill_value=0)

In [62]:
X_test2

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_45-65,AgeGroup_<18
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,0,1,0,0
4,1,0,0,0,0,0,0

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer


df = pd.DataFrame({'brand': ['BMW', 'Pepsi', 'Mac', np.nan],
                   'category': ['car', 'drink', 'computer', 'Unknown'],
                   'num1': [1, 1, 0, 0],
                   'target': [0.2, 0.11, 1.34, 1.123]})


# Column Transformer with Mixed Types


This example illustrates how to apply different preprocessing and feature
extraction pipelines to different subsets of features, using
`ColumnTransformer`. This is particularly handy for the
case of datasets that contain heterogeneous data types, since we may want to
scale the numeric features and one-hot encode the categorical ones.

In this example, the numeric data is standard-scaled after mean-imputation,
while the categorical data is one-hot encoded after imputing missing values
with a new category (``'missing'``).

In addition, we show two different ways to dispatch the columns to the
particular pre-processor: by column names and by column data types.

Finally, the preprocessing pipeline is integrated in a full prediction pipeline
using `Pipeline`, together with a simple classification
model.

In [ ]:
import numpy as np
import pandas as pd

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV

#### Step 1: Read the data set `Titanic.csv`
Print the column names. Drop 'boat','body','cabin','home.dest','name','ticket','sibsp','parch'

#### Step 2: Calculate duplicates
- Report the size of the dataset
- Report if there are any duplicates using `duplicated()` method of pandas dataframe
- List all duplicate rows
- Drop all duplicate rows using `dop_duplicates` method of pandas dataframe
- Report the new shape of the dataset

#### Step 3: Explore the dataset for missing values
- Assign `survived' as target variable `y` and the rest as `X`
- Print info about `X` to see if there are any null values and the type of the features
- Check if all columns have only alpha numeric characters. To do that you need to use `isalnum()` method of Python which works on strings. Before using this method. we need to change all features into string using `astype('str')`
- Replace all `?` characters with `np.nan`
- Now, turn 'age','fare' into numeric again using `apply(pd.to_numeric) `
- Print the first five samples of `X`
- Summarize the number of unique values in each column using `nunique()`

#### Step 4: Use `ColumnTransformer` by selecting column by names

##############################################################################
 
 We will train our classifier with the following features:

 Numeric Features:

 * ``age``: float;
 * ``fare``: float.

 Categorical Features:

 * ``embarked``: categories encoded as strings ``{'C', 'S', 'Q'}``;
 * ``sex``: categories encoded as strings ``{'female', 'male'}``;
 * ``pclass``: ordinal integers ``{1, 2, 3}``.

 Create the preprocessing pipelines for both numeric and categorical data.
 - For numeric features, create a pipeline with using imputer with median strategy and standard scaler
 - For categorical features, use imputer with most frequent and onehot encoder
 
 Use columntransformer to transform the features
 
 Append the preprocessor to the KNeighborsClassifier

Using the prediction pipeline in a grid search

##############################################################################

 Grid search can also be performed on the different preprocessing steps
 defined in the `ColumnTransformer` object, together with the classifier's
 hyperparameters as part of the `Pipeline`.
 We will search for both the imputer strategy of the numeric preprocessing
 and the number of neighbor parameter of the kneighbors classifier using
 `GridSearchCV`.