<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-ML/blob/main/AA_2_02_ColumnTransformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1:
Categorical Variables

In [ ]:
import pandas as pd
df = pd.DataFrame({'salary': [103, 89, 142, 54, 63, 219],
                   'boro': ['Manhattan', 'Queens', 'Manhattan', 'Brooklyn', 'Brooklyn', 'Bronx']})
df

   salary       boro
0     103  Manhattan
1      89     Queens
2     142  Manhattan
3      54   Brooklyn
4      63   Brooklyn
5     219      Bronx

In [ ]:
pd.get_dummies(df)

   salary  boro_Bronx  boro_Brooklyn  boro_Manhattan  boro_Queens
0     103           0              0               1            0
1      89           0              0               0            1
2     142           0              0               1            0
3      54           0              1               0            0
4      63           0              1               0            0
5     219           1              0               0            0

In [ ]:
X_train1 = pd.get_dummies(df)
X_train1

   salary  boro_Bronx  boro_Brooklyn  boro_Manhattan  boro_Queens
0     103           0              0               1            0
1      89           0              0               0            1
2     142           0              0               1            0
3      54           0              1               0            0
4      63           0              1               0            0
5     219           1              0               0            0

In [ ]:
df2 = pd.DataFrame({'Gender': ['m','f','m','m','f'],
                    'AgeGroup': ['<18','18-25','25-35','35-45','45-65']})

In [ ]:
df2

  Gender AgeGroup
0      m      <18
1      f    18-25
2      m    25-35
3      m    35-45
4      f    45-65

In [ ]:
X_train1 = pd.get_dummies(df2)
X_train1

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_45-65,AgeGroup_<18
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,0,1,0,0
4,1,0,0,0,0,1,0

In [ ]:
df2new = pd.DataFrame({'Gender': ['m','f','m','m','f'],
                    'AgeGroup': ['<18','18-25','25-35','35-45','65+']})

In [ ]:
X_test1 = pd.get_dummies(df2new)
X_test1

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_65+,AgeGroup_<18
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,0,1,0,0
4,1,0,0,0,0,1,0

In [ ]:
X_test2 = X_test1.reindex(columns = X_train1.columns, fill_value=0)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# create an instance of the OneHotEncoder with a valid 'drop' parameter
ohe = OneHotEncoder(drop='if_binary')

# fit and transform the data using the OneHotEncoder
X_train1_ohe = ohe.fit_transform(df2)

In [ ]:
ohe = OneHotEncoder(handle_unknown='ignore', drop='if binary', sparse_output=False)

In [ ]:
X_train1_ohe = ohe.fit_transform(df2)

InvalidParameterError: ignored

In [ ]:
cols_ohe = ohe.get_feature_names_out()
cols_ohe

array(['Gender_f_0', 'Gender_f_1', 'Gender_m_0', 'Gender_m_1',
       'AgeGroup_18-25_0', 'AgeGroup_18-25_1', 'AgeGroup_25-35_0',
       'AgeGroup_25-35_1', 'AgeGroup_35-45_0', 'AgeGroup_35-45_1',
       'AgeGroup_45-65_0', 'AgeGroup_45-65_1', 'AgeGroup_<18_0',
       'AgeGroup_<18_1'], dtype=object)

In [ ]:
X_train1_ohe = pd.DataFrame(X_train1_ohe, columns=cols_ohe)
X_train1_ohe

,Gender_f_0,Gender_f_1,Gender_m_0,Gender_m_1,AgeGroup_18-25_0,AgeGroup_18-25_1,AgeGroup_25-35_0,AgeGroup_25-35_1,AgeGroup_35-45_0,AgeGroup_35-45_1,AgeGroup_45-65_0,AgeGroup_45-65_1,AgeGroup_<18_0,AgeGroup_<18_1
0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [ ]:
X_train = pd.DataFrame({'zip': [23151, 12355],
                        'city':['New York', 'Los Angeles']})

In [ ]:
X_test = pd.DataFrame({'zip': [47476, 23151],
                        'city':['Chicago', 'New York']})

In [ ]:
X_train

     zip         city
0  23151     New York
1  12355  Los Angeles

In [ ]:
X_test

     zip      city
0  47476   Chicago
1  23151  New York

In [ ]:
ohe3 = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

In [ ]:
ohe3.fit(X_train)

OneHotEncoder(handle_unknown='ignore', sparse_output=False)

In [ ]:
ohe3.transform(X_train)

array([[0., 1., 0., 1.],
       [1., 0., 1., 0.]])

In [ ]:
ohe3.get_feature_names_out()

array(['zip_12355', 'zip_23151', 'city_Los Angeles', 'city_New York'],
      dtype=object)

In [ ]:
pd.DataFrame(ohe3.transform(X_train), columns=ohe3.get_feature_names_out())

   zip_12355  zip_23151  city_Los Angeles  city_New York
0        0.0        1.0               0.0            1.0
1        1.0        0.0               1.0            0.0

In [ ]:
ohe3.transform(X_test)

array([[0., 0., 0., 0.],
       [0., 1., 0., 1.]])

In [ ]:
pd.DataFrame(ohe3.transform(X_test), columns=ohe3.get_feature_names_out())

   zip_12355  zip_23151  city_Los Angeles  city_New York
0        0.0        0.0               0.0            0.0
1        0.0        1.0               0.0            1.0

In [ ]:
X_test

     zip      city
0  47476   Chicago
1  23151  New York

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer


df = pd.DataFrame({'brand': ['BMW', 'Pepsi', 'Mac', np.nan],
                   'category': ['car', 'drink', 'computer', 'Unknown'],
                   'num1': [1, 1, 0, 0],
                   'target': [0.2, 0.11, 1.34, 1.123]})

In [ ]:
df

   brand  category  num1  target
0    BMW       car     1   0.200
1  Pepsi     drink     1   0.110
2    Mac  computer     0   1.340
3    NaN   Unknown     0   1.123

In [ ]:
df.dtypes

brand        object
category     object
num1          int64
target      float64
dtype: object

In [ ]:
categorical = df.dtypes == object
categorical

brand        True
category     True
num1        False
target      False
dtype: bool

In [ ]:
numerical = ~categorical
numerical

brand       False
category    False
num1         True
target       True
dtype: bool

In [ ]:
numeric_features = ['num1']
categorical_features = ['brand', 'category']

In [ ]:
numeric_transformer = Pipeline(steps = [
    ('imputer', SimpleImputer(strategy='median')),
('scaler', StandardScaler())])

In [ ]:
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [ ]:
preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_transformer),
    ('cat', categorical_transformer)])

Data --> split the data into tain and test --> preprocess --> train a model --> test the model

In [ ]:
from sklearn.linear_model import LinearRegression
myreg = Pipeline(steps=[
    ('prep', preprocessor),
    ('reg', LinearRegression())
])

In [ ]:
myreg

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())])),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]))])),
                ('reg', LinearRegression())])

In [ ]:
X8 = np.array(df.drop('target', 1))
y8 = df.target

<ipython-input-27-1ac89dc7c347>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X8 = np.array(df.drop('target', 1))

In [ ]:
X8, y8

(   brand  category  num1
 0    BMW       car     1
 1  Pepsi     drink     1
 2    Mac  computer     0
 3    NaN   Unknown     0, 0    0.200
 1    0.110
 2    1.340
 3    1.123
 Name: target, dtype: float64)

In [ ]:
myreg.fit(X8,y8)

ValueError: ignored

In [ ]:
myreg.fit(df.drop('target', 1), df['target'])

<ipython-input-25-36ad7cdeded7>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  myreg.fit(df.drop('target', 1),df.target)

ValueError: ignored

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression

df = pd.DataFrame({'brand': ['BMW', 'Pepsi', 'Mac', np.nan],
                   'category': ['car', 'drink', 'computer', 'Unknown'],
                   'num1': [1, 1, 0, 0],
                   'target': [0.2, 0.11, 1.34, 1.123]})

numeric_features = ['num1']
numeric_transformer = Pipeline(steps = [
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_features = ['brand', 'category']
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_transformer),
    ('cat', categorical_transformer)])

myreg = Pipeline(steps=[('preprocessor', preprocessor),
                    ('regressor', LinearRegression())])
myreg.fit(df.drop('target', 1), df['target'])

<ipython-input-30-5c8662f4fae0>:30: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  myreg.fit(df.drop('target', 1), df['target'])

ValueError: ignored


# Column Transformer with Mixed Types


This example illustrates how to apply different preprocessing and feature
extraction pipelines to different subsets of features, using
`ColumnTransformer`. This is particularly handy for the
case of datasets that contain heterogeneous data types, since we may want to
scale the numeric features and one-hot encode the categorical ones.

In this example, the numeric data is standard-scaled after mean-imputation,
while the categorical data is one-hot encoded after imputing missing values
with a new category (``'missing'``).

In addition, we show two different ways to dispatch the columns to the
particular pre-processor: by column names and by column data types.

Finally, the preprocessing pipeline is integrated in a full prediction pipeline
using `Pipeline`, together with a simple classification
model.

In [1]:
import numpy as np
import pandas as pd

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV

#### Step 1: Read the data set `Titanic.csv`
Print the column names. Drop 'boat','body','cabin','home.dest','name','ticket','sibsp','parch'

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
for Dir, Folders, Files in os.walk(os.getcwd()):
  for File in Files:
    if File == 'Titanic.csv':
      Path = os.path.join(Dir, File)
      print(Path)

/content/drive/Othercomputers/My MacBook Pro/GitHub/Magnimind-ML/Module-2-St/Titanic.csv
/content/drive/MyDrive/Colab Datasets/Titanic.csv

In [4]:
X_all = pd.read_csv(Path)
X_all.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [5]:
X_all.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [6]:
X = X_all.drop(['name', 'sibsp', 'parch', 'ticket', 'cabin', 'boat', 'body', 'home.dest'], axis=1)

In [7]:
X.columns

Index(['pclass', 'survived', 'sex', 'age', 'fare', 'embarked'], dtype='object')

#### Step 2: Calculate duplicates
- Report the size of the dataset
- Report if there are any duplicates using `duplicated()` method of pandas dataframe
- List all duplicate rows
- Drop all duplicate rows using `dop_duplicates` method of pandas dataframe
- Report the new shape of the dataset

In [8]:
X.shape

(1309, 6)

In [10]:
X.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1304    False
1305     True
1306    False
1307    False
1308    False
Length: 1309, dtype: bool

In [13]:
dups = X.duplicated()

In [16]:
len(dups), sum(dups)

(1309, 215)

In [15]:
print(dups.any())

True

In [17]:
X.drop_duplicates()

      pclass  survived     sex     age      fare embarked
0          1         1  female      29  211.3375        S
1          1         1    male  0.9167    151.55        S
2          1         0  female       2    151.55        S
3          1         0    male      30    151.55        S
4          1         0  female      25    151.55        S
...      ...       ...     ...     ...       ...      ...
1301       3         0    male    45.5     7.225        C
1304       3         0  female    14.5   14.4542        C
1306       3         0    male    26.5     7.225        C
1307       3         0    male      27     7.225        C
1308       3         0    male      29     7.875        S

[1094 rows x 6 columns]

In [19]:
X.shape

(1309, 6)

In [26]:
X

      pclass     sex     age      fare embarked
0          1  female      29  211.3375        S
1          1    male  0.9167    151.55        S
2          1  female       2    151.55        S
3          1    male      30    151.55        S
4          1  female      25    151.55        S
...      ...     ...     ...       ...      ...
1304       3  female    14.5   14.4542        C
1305       3  female       ?   14.4542        C
1306       3    male    26.5     7.225        C
1307       3    male      27     7.225        C
1308       3    male      29     7.875        S

[1309 rows x 5 columns]

#### Step 3: Explore the dataset for missing values
- Assign `survived' as target variable `y` and the rest as `X`
- Print info about `X` to see if there are any null values and the type of the features
- Check if all columns have only alpha numeric characters. To do that you need to use `isalnum()` method of Python which works on strings. Before using this method. we need to change all features into string using `astype('str')`
- Replace all `?` characters with `np.nan`
- Now, turn 'age','fare' into numeric again using `apply(pd.to_numeric) `
- Print the first five samples of `X`
- Summarize the number of unique values in each column using `nunique()`

In [21]:
y= X['survived']
X= X.drop(['survived'], axis=1)

In [23]:
X.columns

Index(['pclass', 'sex', 'age', 'fare', 'embarked'], dtype='object')

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   sex       1309 non-null   object
 2   age       1309 non-null   object
 3   fare      1309 non-null   object
 4   embarked  1309 non-null   object
dtypes: int64(1), object(4)
memory usage: 51.3+ KB

In [24]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1309 entries, 0 to 1308
Series name: survived
Non-Null Count  Dtype
--------------  -----
1309 non-null   int64
dtypes: int64(1)
memory usage: 10.4 KB

In [27]:
X.fare.value_counts()

8.05       60
13         59
7.75       55
26         50
7.8958     49
           ..
15.05       1
14          1
15.5792     1
12          1
7.875       1
Name: fare, Length: 282, dtype: int64

In [28]:
X.nunique()

pclass        3
sex           2
age          99
fare        282
embarked      4
dtype: int64

In [29]:
from numpy import unique
unique(X.embarked)

array(['?', 'C', 'Q', 'S'], dtype=object)

In [30]:
unique(X.age)

array(['0.1667', '0.3333', '0.4167', '0.6667', '0.75', '0.8333', '0.9167',
       '1', '10', '11', '11.5', '12', '13', '14', '14.5', '15', '16',
       '17', '18', '18.5', '19', '2', '20', '20.5', '21', '22', '22.5',
       '23', '23.5', '24', '24.5', '25', '26', '26.5', '27', '28', '28.5',
       '29', '3', '30', '30.5', '31', '32', '32.5', '33', '34', '34.5',
       '35', '36', '36.5', '37', '38', '38.5', '39', '4', '40', '40.5',
       '41', '42', '43', '44', '45', '45.5', '46', '47', '48', '49', '5',
       '50', '51', '52', '53', '54', '55', '55.5', '56', '57', '58', '59',
       '6', '60', '60.5', '61', '62', '63', '64', '65', '66', '67', '7',
       '70', '70.5', '71', '74', '76', '8', '80', '9', '?'], dtype=object)

In [31]:
unique(X.fare)

array(['0', '10.1708', '10.4625', '10.5', '10.5167', '10.7083', '106.425',
       '108.9', '11.1333', '11.2417', '11.5', '110.8833', '113.275', '12',
       '12.1833', '12.275', '12.2875', '12.35', '12.475', '12.525',
       '12.65', '12.7375', '12.875', '120', '13', '13.4167', '13.5',
       '13.775', '13.7917', '13.8583', '13.8625', '13.9', '133.65',
       '134.5', '135.6333', '136.7792', '14', '14.1083', '14.4',
       '14.4542', '14.4583', '14.5', '146.5208', '15', '15.0333',
       '15.0458', '15.05', '15.1', '15.2458', '15.5', '15.55', '15.5792',
       '15.7417', '15.75', '15.85', '15.9', '151.55', '153.4625', '16',
       '16.1', '16.7', '164.8667', '17.4', '17.8', '18', '18.75',
       '18.7875', '19.2583', '19.5', '19.9667', '20.2125', '20.25',
       '20.525', '20.575', '21', '21.075', '21.6792', '211.3375', '211.5',
       '22.025', '22.3583', '22.525', '221.7792', '227.525', '23',
       '23.25', '23.45', '24', '24.15', '247.5208', '25.4667', '25.5875',
       '25.7', '25.7417', '25.925', '25.9292', '26', '26.25', '26.2833',
       '26.2875', '26.3875', '26.55', '262.375', '263', '27', '27.4458',
       '27.7208', '27.75', '27.9', '28.5', '28.5375', '28.7125', '29',
       '29.125', '29.7', '3.1708', '30', '30.0708', '30.5', '30.6958',
       '31', '31.275', '31.3875', '31.5', '31.6792', '31.6833', '32.3208',
       '32.5', '33', '33.5', '34.0208', '34.375', '34.6542', '35', '35.5',
       '36.75', '37.0042', '38.5', '39', '39.4', '39.6', '39.6875',
       '4.0125', '40.125', '41.5792', '42.4', '42.5', '45.5', '46.9',
       '47.1', '49.5', '49.5042', '5', '50', '50.4958', '51.4792',
       '51.8625', '512.3292', '52', '52.5542', '53.1', '55', '55.4417',
       '55.9', '56.4958', '56.9292', '57', '57.75', '57.9792', '59.4',
       '6.2375', '6.4375', '6.45', '6.4958', '6.75', '6.8583', '6.95',
       '6.975', '60', '61.175', '61.3792', '61.9792', '63.3583', '65',
       '66.6', '69.3', '69.55', '7', '7.0458', '7.05', '7.0542', '7.125',
       '7.1417', '7.225', '7.2292', '7.25', '7.2833', '7.3125', '7.4958',
       '7.5208', '7.55', '7.575', '7.5792', '7.6292', '7.65', '7.7208',
       '7.725', '7.7292', '7.7333', '7.7375', '7.7417', '7.75', '7.775',
       '7.7792', '7.7875', '7.7958', '7.8', '7.8208', '7.8292', '7.85',
       '7.8542', '7.875', '7.8792', '7.8875', '7.8958', '7.925', '71',
       '71.2833', '73.5', '75.2417', '75.25', '76.2917', '76.7292',
       '77.2875', '77.9583', '78.2667', '78.85', '79.2', '79.65',
       '8.0292', '8.05', '8.1125', '8.1375', '8.1583', '8.3', '8.3625',
       '8.4042', '8.4333', '8.4583', '8.5167', '8.6542', '8.6625',
       '8.6833', '8.7125', '8.85', '8.9625', '80', '81.8583', '82.1708',
       '82.2667', '83.1583', '83.475', '86.5', '89.1042', '9', '9.2167',
       '9.225', '9.325', '9.35', '9.475', '9.4833', '9.5', '9.5875',
       '9.6875', '9.825', '9.8375', '9.8417', '9.8458', '90', '91.0792',
       '93.5', '?'], dtype=object)

In [32]:
unique(X.sex)

array(['female', 'male'], dtype=object)

In [33]:
X.isnull().sum()

pclass      0
sex         0
age         0
fare        0
embarked    0
dtype: int64

In [36]:
X.iloc[:,2].str.isalnum()

0        True
1       False
2        True
3        True
4        True
        ...
1304    False
1305    False
1306    False
1307     True
1308     True
Name: age, Length: 1309, dtype: bool

In [37]:
X.iloc[:,2]

0           29
1       0.9167
2            2
3           30
4           25
         ...
1304      14.5
1305         ?
1306      26.5
1307        27
1308        29
Name: age, Length: 1309, dtype: object

In [38]:
cols = list(X.columns)
X[cols] = X[cols].astype('str')

In [40]:
for i in range(len(X.columns)):
  print((~X.iloc[:,i].str.isalnum()).sum())

0
0
308
1080
2

#### Step 4: Use `ColumnTransformer` by selecting column by names

##############################################################################
 
 We will train our classifier with the following features:

 Numeric Features:

 * ``age``: float;
 * ``fare``: float.

 Categorical Features:

 * ``embarked``: categories encoded as strings ``{'C', 'S', 'Q'}``;
 * ``sex``: categories encoded as strings ``{'female', 'male'}``;
 * ``pclass``: ordinal integers ``{1, 2, 3}``.

 Create the preprocessing pipelines for both numeric and categorical data.
 - For numeric features, create a pipeline with using imputer with median strategy and standard scaler
 - For categorical features, use imputer with most frequent and onehot encoder
 
 Use columntransformer to transform the features
 
 Append the preprocessor to the KNeighborsClassifier

Using the prediction pipeline in a grid search

##############################################################################

 Grid search can also be performed on the different preprocessing steps
 defined in the `ColumnTransformer` object, together with the classifier's
 hyperparameters as part of the `Pipeline`.
 We will search for both the imputer strategy of the numeric preprocessing
 and the number of neighbor parameter of the kneighbors classifier using
 `GridSearchCV`.