<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-ML/blob/main/Statistics_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q7

x1 x2 x3

P(x3>x2>x1)

In [5]:
import random
import numpy as np

In [6]:
cards = np.arange(1,601)

In [7]:
len(cards)

600

In [8]:
cards[:10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
np.where(cards==a)

NameError: ignored

In [11]:
j=0
N=100000
for i in range(N):
  cards2=cards.copy()
  x1=random.choice(cards2)
  cards2=np.delete(cards2, np.where(cards2==x1))
  x2=random.choice(cards2)
  cards2=np.delete(cards2, np.where(cards2==x2))
  x3=random.choice(cards2)
  if (x3>x2>x1):
    j+=1
print(j/N)

0.16726

In [14]:
j=0
N=100000
for i in range(N):
  cards2=cards.copy()
  x1=random.choice(cards2)
  x2=random.choice(cards2)
  x3=random.choice(cards2)
  if (x3>x2>x1):
    j+=1
print(j/N)

0.16731

1 2 3 4 5

if you pick 3 cards from 5 with replacement, how many different 3 card combinations can you get?


1 1 1

5 * 5 * 5



if you pick 3 cards from 5 without replacement, how many different 3 card combinations can you get?

5 * 4 * 3

x1<x2<x3

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5

2 3 4

2 3 5

2 4 5

3 4 5

N

(1,2) --> N-2

(1,3) --> N-3

(1,4) --> N-4

.....

In [15]:
N=600
K=2
s=0

for i in range(N-K):
  for j in range(N-K-i):
    s+=(N-i-j)

In [16]:
s

36178402

In [19]:
import math
Tot= math.factorial(N)/math.factorial(N-K-1)

In [21]:
Tot1= math.factorial(N)/math.factorial(N-K-1)

In [22]:
Tot2 = N**(K+1)

In [23]:
s/Tot1, s/Tot2

(0.16833333333333333, 0.16749260185185186)

In [20]:
print(s/Tot)

0.16833333333333333

x1<x2<x3

3 < 4 <

#Question 8

HHHHHHHHHH

HHHHHHHHHT

HTH

In [24]:
from scipy.stats import uniform

In [27]:
hhtc=0
httc=0

In [28]:


st=''

for l in range(N):
  flip=uniform.rvs()
  ch="H" if flip>0.5 else 'T'
  st+=ch
  g=st[-3:]
  if g=='HHT':
    hhtc+=1
    break
  elif g=='HTT':
    httc+=1
    break
  else:
    pass

print(f'{hhtc/N=}, {httc/N=}')

hhtc/N=0.0, httc/N=0.0016666666666666668

HHT or HTT

H


HH-->0.5

HHH--> 0.5*0.5

HHT--> 0.5*0.5 -->sat

..........................

HHHH -->0.5*0.5*0.5*0.5

HHHT -->0.5*0.5*0.5*0.5-->sat

..........................


HHHHH-->0.5*0.5*0.5*0.5*0.5-->

HHHHT-->0.5*0.5*0.5*0.5*0.5-->sat

..........................


HT-->0.5

..........................



1/2 + (1/2)^2 + (1/2)^3+... =1/(1-1/2)=2

1/2 (1+(1/2) + (1/2)^2+... =1/(1-1/2)*1/2=2*2 =1


..........................


1+x+x^2+x^3+... if x<1 --> 1/(1-x)