# Preprocessing

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Step 1:
- Import the boston house dataset from `sklearn.datasets`. 

`from sklearn.datasets import load_boston`

`boston = load_boston()`

- Create train and test datasets. 

- Check the data description and familiarize yourself with the data.

In [30]:
#loading dataset
name= ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df = pd.read_csv(filepath_or_buffer="http://lib.stat.cmu.edu/datasets/boston", delim_whitespace=True, names=name)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,The,Boston,house-price,data,of,"Harrison,",D.,and,"Rubinfeld,",D.L.,'Hedonic,NaN,NaN,NaN
1,prices,and,the,demand,for,clean,"air',",J.,Environ.,Economics,&,"Management,",NaN,NaN
2,"vol.5,","81-102,",1978.,Used,in,"Belsley,",Kuh,&,"Welsch,",'Regression,diagnostics,NaN,NaN,NaN
3,"...',","Wiley,",1980.,N.B.,Various,transformations,are,used,in,the,table,on,NaN,NaN
4,pages,244-261,of,the,latter.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.shape

(1032, 14)

In [34]:

from sklearn.model_selection import train_test_split
X, y = df.data, df.target
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

AttributeError: ignored

### Step 2:
Create a scatter plot of each attribute with the mean house price.

### Step 3:
Create a box plot of all attributes.

### Step 4:
Use `StandardScaler()` to scale the trainin data set.

### Step 5:
Use `KNeighborsRegressor()` to fit both not-scaled and scaled datasets. Check the scores of test dataset for both models.

### Step 6:
Repeat Step 5 for `RandomForestRegressor`. Use

`RandomForestRegressor(n_estimators=100, random_state=0)`